 li {
  display: flex;
  padding: 0 20px;
  min-height: 50px;  
}

 li p {
  flex: 0 0 33%;
}

li p span {
	border: 1px solid black;
	font-size: 1em;
	padding: 3px;
}

li p span:hover {
  background-color: yellow;
  cursor:pointer;
}

li:nth-child(2n) {
	background-color: #f2f2f2;
}